@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

h3 {
  font-weight: 100;
  font-size: medium;
}

p {
  font-weight: 200;
  font-size: medium;
}

.reviews{
  font-family: Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 18rem 4rem 36rem;
  grid-template-rows: 0.1fr 0.25fr 6fr 0.5fr;
  grid-template-rows: 3vh 12vh 75vh 10vh;
  grid-template-areas:
    "top top top"
    "staraverage marginmiddle reviewsorting"
    "barssliders marginmiddle reviewlist"
    "barssliders marginmiddle reviewcontrols";
}
.review-margin-top {
  grid-area: top;
}
.review-margin-middle {
  grid-area: marginmiddle;
}
.review-listings {
  grid-area: reviewlist;
  max-height: 75vh;
  overflow-y: auto;
}
.review-controls {
  grid-area: reviewcontrols;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh;
  column-gap: 1rem;
  grid-template-areas:
    "review-more-reviews open-button"
}
.review-more-reviews {
    grid-area: review-more-reviews;
    align-self: center;
}
.open-button {
    grid-area: open-button;
    align-self: center;
}
.star-average {
  grid-area: staraverage;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 20% 3.5rem;
  grid-template-areas:
  "review-component-title review-component-title"
  "startext stardisplay";
}
.component-title {
  grid-area: review-component-title;
  align-self: start;
}
.component-title h3 {
  margin: 0px;
}
.star-average-text {
  grid-area: startext;
  align-self: start;
  text-align: start;
}
.star-average-text p {
  margin: 0px;
  font-size: 3rem;
  font-weight: 800;
}
.star-average-display {
  grid-area: stardisplay;
  align-self: start;
}
.bars-sliders {
  grid-area: barssliders;
}
.review-sorting-search {
  grid-area: reviewsorting;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4vh 8vh;
  grid-template-areas:
    "review-sorting"
    "review-search";
}
.review-sorting {
  grid-area: review-sorting;
  align-self: center;
}
.review-search {
  grid-area: review-search;
  align-self: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  grid-template-areas:
  "review-search-text review-search-button";
}
.review-search-text {
  grid-area: review-search-text;
}
.review-search-button {
  grid-area: review-search-button;
}
.reviewtile {
  border-bottom: 0.1rem solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3vh 3vh auto auto auto auto auto 1fr;
  grid-template-areas:
    "stars . userdate userdate"
    "title title title title"
    "titlewrap titlewrap titlewrap titlewrap"
    "body body body body"
    "photos photos photos photos"
    "recommend recommend recommend recommend"
    "response response response response"
    "helpfulness helpfulness helpfulness helpfulness";
}
.review-title {
  grid-area: title;
  align-self: center;
}
.review-stars {
  grid-area: stars;
  align-self: center;
}
.review-userdate {
  grid-area: userdate;
  text-align: right;
  align-self: center;
}
.review-titlewrap {
  grid-area: titlewrap;
  align-self: center;
}
.review-body {
  grid-area: body;
  align-self: center;
}
.review-photos {
  grid-area: photos;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
img.review-photo {
  height: 3rem;
  border: 0.1rem solid black;
  margin-left: 2rem;
  margin-right: 2rem;
}
.review-recommend {
  grid-area: recommend;
  align-self: center;
}
.review-response {
  grid-area: response;
  align-self: start;
  border: 0.5rem solid white;
  padding: 0.5rem;
  background-color: lightgrey;

}
.review-helpfulness {
  grid-area: helpfulness;
  align-self: center;
}

.character {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 3vh 4vh 3vh;
  grid-template-areas:
    "character-title character-title character-title"
    "slider slider slider"
    "min-slide-text center-slide-text max-slide-text";
}
.character-title {
  grid-area: character-title;
  align-self: center;
}
.sliders-container {
  grid-area: slider;
  align-self: center;
}
.min-slide-text {
  grid-area: min-slide-text;
  align-self: center;
  text-align: center;
  font-size: small;
  font-weight: 400;
}
.center-slide-text {
  grid-area: center-slide-text;
  align-self: center;
  text-align: center;
  font-size: small;
  font-weight: 400;
}
.max-slide-text {
  grid-area: max-slide-text;
  align-self: center;
  text-align: center;
  font-size: small;
  font-weight: 400;
}
.bars-sliders {
  display: grid;
  grid-template-columns: 4rem 14rem;
  grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh auto auto auto auto auto auto auto;
  grid-template-areas:
    "recommend recommend"
    "5link 5bars"
    "4link 4bars"
    "3link 3bars"
    "2link 2bars"
    "1link 1bars"
    "starsorting starsorting"
    "size size"
    "width width"
    "comfort comfort"
    "quality quality"
    "length length"
    "fit fit";
}
.star-sorting {
  grid-area: starsorting;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}
.size {
  grid-area: size;
}
.width {
  grid-area: width;
}
.comfort {
  grid-area: comfort;
}
.quality {
  grid-area: quality;
}
.length {
  grid-area: length;
}
.fit {
  grid-area: fit;
}
.recommend {
  grid-area: recommend;
  align-self: center;
}
#display5Star {
  grid-area: 5link;
  align-self: center;
}
#starbar5 {
  grid-area: 5bars;
  align-self: center;
}
#display4Star {
  grid-area: 4link;
  align-self: center;
}
#starbar4 {
  grid-area: 4bars;
  align-self: center;
}
#display3Star {
  grid-area: 3link;
  align-self: center;
}
#starbar3 {
  grid-area: 3bars;
  align-self: center;
}
#display2Star {
  grid-area: 2link;
  align-self: center;
}
#starbar2 {
  grid-area: 2bars;
  align-self: center;
}
#display1Star {
  grid-area: 1link;
  align-self: center;
}
#starbar1 {
  grid-area: 1bars;
  align-self: center;
}
.bars-container {
  display: grid;
  grid-template-columns: 14.4rem;
  grid-template-rows: .45rem;
}
.bars {
  background-color: gray;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.barsoverlap {
  background-color: green;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;
}
.sliders-container {
  display: grid;
  grid-template-columns: 5.85rem 0.225rem 5.85rem 0.225rem 5.85rem;
  grid-template-rows: .45rem .225rem;
}
.slider1 {
  background-color: rgb(56, 144, 182);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.slider2 {
  background-color: rgb(56, 144, 182);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.slider3 {
  background-color: rgb(56, 144, 182);
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.sliderbreak1 {
  background-color: transparent;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.sliderbreak2 {
  background-color: transparent;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.slidericon {
  font-size: 0.93rem;
  color: black;
  font-family: 'Potta One', cursive;
  margin-top: -0.38rem;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1 / 3;
  z-index: 2;
}
.review-arrow-down {
  font-size: 1.5rem;
  font-family: 'JetBrains Mono', monospace;
}
.review-sort-type {
  border-bottom: 0.15rem solid black;
}

/* Modal CSS */
/* @import 'https://fonts.googleapis.com/css?family=Prompt:400,700'; */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;

  height: 700px;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.modal-body {
  display: grid;
  row-gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 4vh 4vh 4vh 3vh auto;
  grid-template-areas:
  "add-review-title"
  "add-review-subtitle"
  "add-review-instructions"
  "add-review-overall-rating"
  "add-review-form";

}
.add-review-title {
  grid-area: add-review-title;
}
.add-review-subtitle {
  grid-area: add-review-subtitle;
}
.add-review-instructions {
  grid-area: add-review-instructions;
}
.add-review-instructions p {
  font-size: small;
  font-style: oblique;
  margin-right: 5rem;
}
.add-review-overall-rating {
  grid-area: add-review-overall-rating;
}
.add-review-form {
  grid-area: add-review-form;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 6vh auto 4vh 10vh auto 8vh 8vh 8vh;
  grid-template-areas:
  "add-review-recommend"
  "add-review-characteristics"
  "add-review-summary"
  "add-review-body"
  "add-review-image"
  "add-review-username"
  "add-review-email"
  "add-review-submit"
  ;
}
.add-review-recommend {
  grid-area: add-review-recommend;
  align-self: center;
}
.add-review-characteristics {
  grid-area: add-review-characteristics;
}
.add-review-summary {
  grid-area: add-review-summary;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  grid-template-areas:
  "review-summary-text review-summary-box";
}
.review-summary-text {
  grid-area: review-summary-text;
}
.review-summary-box {
  grid-area: review-summary-box;
  margin-right: 5rem;
}
.add-review-body {
  grid-area: add-review-body;
  align-self: center;
}
.add-review-image {
  grid-area: add-review-image;
  align-self: center;
}
.add-review-username {
  grid-area: add-review-username;
  align-self: center;
}
.add-review-email {
  grid-area: add-review-email;
  align-self: center;
}
.add-review-submit {
  grid-area: add-review-submit;
  align-self: center;
}
.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 10px;

  /* needs to look OK with or without scrollbar */
  right: 20px;

  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

/* End Modal CSS */

/* Photo Modal CSS */
/* @import 'https://fonts.googleapis.com/css?family=Prompt:400,700'; */

.review-photos-modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */
  width: 1920px;
  max-width: 100%;

  height: 90vh;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.review-photos-closed {
  display: none;
}

.review-photos-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
}
.review-photos-modal-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}

.review-photos-modal .review-photos-close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 10px;

  /* needs to look OK with or without scrollbar */
  right: 20px;

  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

/* End Photo Modal CSS */

.add-review-characteristics{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas:
    "title"
    "size"
    "width"
    "comfort"
    "quality"
    "length"
    "fit";
}
.characteristics-title {
  grid-area: title;
}
.characteristics {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "section . selection"
    "buttons buttons buttons"
    "lowest-meaning . highest-meaning";
}

.characteristics-section {
  grid-area: section;
  justify-self: center;
  align-self: end;
}

.characteristics-selection {
  grid-area: selection;
  justify-self: center;
  align-self: end;
}
.characteristics-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.characteristics-lowest-meaning {
  grid-area: lowest-meaning;
  justify-self: center;
  align-self: start;
}
.characteristics-highest-meaning {
  grid-area: highest-meaning;
  justify-self: center;
  align-self: start;
}
.characteristics.size {
  grid-area: size;
}
.characteristics.width {
  grid-area: width;
}
.characteristics.comfort {
  grid-area: comfort;
}
.characteristics.quality {
  grid-area: quality;
}
.characteristics.length {
  grid-area: length;
}
.characteristics.fit {
  grid-area: fit;
}

.review-link {
  text-decoration: underline;
  cursor: pointer;
}
.review-link:hover {
  text-decoration-color: whitesmoke;
}